<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Items:</strong>
  <%= @booking.items_id %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @booking.started_at %>
</p>

<p>
  <strong>Endet on:</strong>
  <%= @booking.endet_on %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
