<p id="notice"><%= notice %></p>

<h1>Filters Values</h1>

<table>
  <thead>
    <tr>
      <th>Option</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filters_values.each do |filters_value| %>
      <tr>
        <td><%= filters_value.option %></td>
        <td><%= link_to 'Show', filters_value %></td>
        <td><%= link_to 'Edit', edit_filters_value_path(filters_value) %></td>
        <td><%= link_to 'Destroy', filters_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filters Value', new_filters_value_path %>
